/* import fonts and Icons */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

/* setup the whole page */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* created variables  */
:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secondary: "Josefin Slab", serif;
    --font-action: "Muli", serif;
}

/* make the page scroll smooth */
html{
    scroll-behavior: smooth;
}

/* setting the hamburguer for the menu */
.hamburguer {
    display: flex;
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 99;
    right: 2rem;
    top: 2rem;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 1.5s;
}


.show-menu .hamburguer {
    right: 16rem;
}

/* setting the lines */
.line {
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: .1rem .1rem 0.5px #000000;
    transition: transform 1s;
}

/* making a transformation to rotate when its clicked */
.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .45rem);
}

/* making a transformation middle line to hide*/
.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

/* making a transformation to rotate when its clicked */
.show-menu #line3 {
    transform: rotate(-45deg) translate(.3rem, -.45rem);
}

/* text will appear for hamburguer */
.hamburguer span {
    position: absolute;
    left: 4rem;
    height: 3rem;
    width: 6rem;
    background-color: #7a45dcce;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-action);
    letter-spacing: .1rem;
    font-size: 1.2rem;
    opacity: 0;
    transition: all 1s;
}

/* making this position and border before the span */
.hamburguer span::before {
    content: "";
    position: absolute;
    border-right: .7rem solid #7a45dcce;
    border-top: .7rem solid transparent;
    border-left: .7rem solid transparent;
    border-bottom: .7rem solid transparent;
    left: -1.3rem;
}

/* text will appear on mouse hover */
.show-menu .hamburguer:hover span {
    opacity: 1;
}

/* header section */
header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin-bottom: 10rem;
}

/* header img to animation, background transparent, to cover all page */
.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(0, 0, 0, 0.9);
    animation: zoom 10s;
}

/* header img covering all page and less contrast */
.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}

/* img animation scaling down */
@keyframes zoom {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

/* banner text */
.banner-text {
    position: absolute;
    top: 29%;
    left: 12%;
}

/* setting banner-text h1, creting animation */
.banner-text h1 {
    color: #ffffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgb(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1.5s 0.5s forwards;
}

/* setting banner-text p, creting animation */
.banner-text p {
    font-family: var(--font-secondary);
    color: #ffffff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgb(0, 0, 0, .4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1.5s 0.7s forwards;
}

/* setting banner-text button, creting animation */
.banner-text button {
    font-family: var(--font-action);
    background: #ffffff15;
    color: #ffffff;
    padding: 1rem 3rem;
    border: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    opacity: 0;
    animation: moveBanner 1.5s 0.9s forwards;
}

/* banner-text animation from the opacity: hidden to Vertical position rotate */
@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    }

    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

/* banner-text button to change the color on mouse hover */
.banner-text button:hover {
    background-color: #7a45dc;
    background: -webkit-linear-gradient(to right, #7a45dc, #B06AB3);
    background: linear-gradient(to right, #7a45dc, #B06AB3);
    color: #fff;
    font-size: 1rem;
}

/* creating sidebar starting point*/
.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.226);
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 98;
}

/* sidebar finish position */
.show-menu .sidebar {
    right: 0;
}

/* menu list */
.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* menu margint from botton between them */
.menu .menu-item {
    margin-bottom: .5rem;
}

/* seeting the list size, font type, color, delay transition */
.menu .menu-link {
    font-family: var(--font-action);
    font-size: 2rem;
    color: rgb(179, 179, 179);
    transition: color 0.5s ease-in-out;
}

/* menu list color change on mouse hover */
.menu-link:hover {
    color: #9e6cfa;
}

/* social media icons on the menu */
.social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* setting social media menu icons */
.social-media i {
    color: rgb(122, 122, 122);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 1s;
}

/* changing social media menu icons color on mouse hover */
.social-media i:hover {
    color: #8357d6;
}

/* section skills */
.section-skills {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 5rem);
    row-gap: .5rem;
    margin: 4rem 0;
}

/* positioning the skill images by  child parents and column start point and finish point and 
row start point and finish point */
.skills:nth-child(1) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.skills:nth-child(2) {
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}

.skills:nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 5 / -1;
}

.skills:nth-child(4) {
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

.skills:nth-child(5) {
    grid-column: 12 / 15;
    grid-row: 3 / 5;
}

.skills:nth-child(6) {
    grid-column: 11 / 14;
    grid-row: 5 / -1;
}

/* general header section for all header-section class */
.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* general header section h1 for all header-section class */
.header-section h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #6a3093;
    margin-bottom: 1.5rem;
}

/* header of skills */
.header-skills {
    display: flex;
    align-items: center;
    color: #4b4b4b;
}

/* header of skill icon */
.header-skills i {
    font-size: 2.5rem;
}

/* header skill subtitle */
.header-skills h3 {
    font-family: var(--font-secondary);
    font-size: 2rem;
    padding-left: 1rem;
}

/* context inside the skill */
.skill-context {
    font-family: var(--font-secondary);
    margin-top: 1rem;
}

/* skill image in the center of the page position starting point
and finish point for column and row */
.skills-img-wrapper {
    grid-column: 7 / 10;
    grid-row: 2 / 6;
    width: 100%;
}

/* setting the image to cover */
.skills-img-wrapper img {
    object-fit: cover;
    width: 100%;
}

/* section projects */
.projects {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: 5rem 0;
}

/* project cards size */
.card {
    width: 18rem;
    height: 25rem;
}

/* project cards size wrapper around img */
.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .5rem;
}

/* project cards img inside the card*/
.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .8;
    transition: opacity .5s;
}

/* card image opacity on mouse hover */
.card:hover .card-img-wrapper img {
    opacity: .4;
}

/* context in the card */
.card-info {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    bottom: 0;
    padding: 2rem;
    text-shadow: .3rem .2rem .3rem rgb(0, 0, 0, .4);
    transition: all .5s;
}

/* h2 in the card */
.card-info h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
}

/* h3 in the card */
.card-info h3 {
    font-family: var(--font-action);
    font-weight: bolder;
    color: #ff4081;
    margin-bottom: 1.5rem;
}

/* paragraph in the card */
.card-info p {
    font-family: var(--font-secondary);
    color: #eee;
    font-weight: 400;
    width: 35%;
    margin-bottom: 2rem;
}

/* button ckass general in the card section*/
.btn {
    background-color: #7a45dc;
    background: -webkit-linear-gradient(to right, #7a45dc, #B06AB3);
    background: linear-gradient(to right, #7a45dc, #B06AB3);
    font-family: var(--font-action);
    font-size: 1.5rem;
    color: #eee;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 .1rem .8rem rgb(0, 0, 0, .4);
}

/* card button size */
.card-info button {
    width: 8rem;
    height: 2.5rem;
}

/* card information appear on mouse hover */
.card:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

/* section contacts */
#contact-section {
    width: 100%;
    height: 100vh;
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

/* wrapper around the contact */
.contact-wrapper {
    width: 45%;
    height: 34rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgb(0, 0, 0, .4);
}

/* adding image from the left in the contact section */
.contact-left {
    width: 40%;
    background: linear-gradient(rgb(15, 15, 15, .6), rgb(22, 22, 22, .9)), url("../img/contact.jpg");
    background-size: cover;
}

/* setting the right side constact block  */
.contact-right {
    width: 50%;
    background-color: #eee;
    padding: 1rem 3rem 3rem 3rem;
}

/* setting the title in the contact section */
#contact-section h1 {
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color: #272727;
    font-size: 3rem;
    font-weight: lighter;
}

/* setting the form in the contact section */
#contact-section form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* setting the input position in the contact section  */
.input-group {
    position: relative;
}

/* setting the class field in the contact section */
.field {
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 2rem;
    font-family: var(--font-secondary);
    border-bottom: 2px dashed #636363;
    height: 3rem;
    outline: none;
    margin: 1rem 0;
}

/* setting the textarea in the contact section */
.input-group textarea {
    padding-top: 1rem;
    max-width: 20rem;
    max-height: 5rem;
}

/* setting the labels in the contact section */
.field-label {
    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1.2rem;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    transition: all .3s;
}

/* select every label that is preceded by class field */
.field:focus~label {
    top: 0;
    font-size: 1rem;
}

/* changing focus of the class field giving a new border type */
.field:focus {
    border-bottom: 1px solid;
}

/* setting button of contact section */
.btn-submit {
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

/* quote-section and background image*/
#quote-section {
    width: 100%;
    height: 90vh;
    background: url("../img/quote.jpg");
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* quote-wrapper class that wrap around context*/
.quote-wrapper {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 .1rem .3rem rgb(0, 0, 0, .5);
    width: 45%;
    height: 80%;
    background: #ffffff99;
    margin-top: 4rem;
}

/* setting title from quote section */
#quote-section h1 {
    position: absolute;
    top: -2.5rem;
    left: 2rem;
    background-color: #7a45dc;
    background: -webkit-linear-gradient(to right, #7a45dc, #B06AB3);
    background: linear-gradient(to right, #7a45dc, #B06AB3);
    color: white;
    font-family: var(--font-primary);
    font-size: 3rem;
    padding: .5rem 3rem;
    font-weight: lighter;
    box-shadow: 0 .1rem .3rem rgb(0, 0, 0, .5);
    border-radius: 10px;
}

/* setting form from quote section */
#quote-section form {
    margin: 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 10rem;
}

/* setting label from quote section */
#quote-section label {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    font-weight: bold;
}

/* setting input type number from quote section */
#quote-section input[type="number"] {
    font-family: var(--font-secondary);
    width: 4rem;
    font-size: 2rem;
    outline: none;
    border-radius: 5px;
    text-align: center;
    border: none;
}

/* setting input type checkbox from quote section */
#quote-section input[type="checkbox"] {
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
}

/* setting input type radio from quote section */
#quote-section input[type="radio"] {
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    margin-bottom: 1rem;
}

/* setting input type range from quote section */
#quote-section input[type="range"] {
    width: 80%;
}

/* setting button from quote section */
.btn-quote {
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    grid-column: 2;
    width: 80%;
    margin-top: 1rem;
    letter-spacing: 3px;
}


/* section footer */
footer {
    width: 100%;
    height: 7rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* setting the footer content wrappimg around */
.footer-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

/* Setting the paragraph footer section */
.footer-content p {
    font-family: var(--font-secondary);
    color: #a7a7a7;
    font-size: 1.2rem;
}

/* Setting the icons social media of footer section */
.social-media-footer a {
    margin: 0 2rem;
    color: #a7a7a7;
    font-size: 1.3rem;
    transition: all .3s;
}

/* changing color the icons social media of footer section */
.social-media-footer a:hover{
    color: #7a45dc;
}

/* positioning icons social media of footer section */
.social-media-footer ul {
    display: flex;
}

/* setting floating button to bring up to the beginning of the page */
#up{
    position: fixed;
    right: .5rem;
    bottom: 7rem;
    width: 3rem;
    height: 3rem;
    color: #000;
    background-color: #ffffff2d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all .5s;
    z-index: 97;
    box-shadow: 0 .1rem .4rem #000000;
}

/* changing color on mouse hover floating button to bring up to the beginning of the page */
#up:hover{
    background-color: #7a45dc;
    background: -webkit-linear-gradient(to right, #7a45dc, #B06AB3);
    background: linear-gradient(to right, #7a45dc, #B06AB3);
    color: #eee;
    box-shadow: none;
}